@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+HK:wght@700&family=Oswald:wght@300&family=Roboto:wght@300&display=swap');
/* font-family: 'Noto Serif HK', serif;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif; */
body {
    font-family: 'Noto Serif HK', serif;
    font-weight: 300;
    background-color: #FFFFD6;
}

.content {
    min-height: calc(100vh - 90px);
}

.brown-text {
    color: #443730;
    font-weight: 300;
}

.page-title {
    padding-top: 5px;
    color: #443730;
    font-weight: 300;
    text-align: center;
}

/* Navigation */
.navbar {
    padding: 1rem 1rem;
}

.navbar ul a {
    color: #271E19;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
}

.navbar a:hover {
    color: #443730;
}

.logo-image {
    height: 100px;
}

.profile-icon {
    padding-right: 5px;
}

/* Home Page */

.hero-text-outer {
    background-color: #FFFF85;
    min-height: 200px;
}

.hero-text {
    font-family : 'Roboto', sans-serif;
    font-size: 50px;
    color: #271E19;
}

.home-break {
    border-top: 1px solid #443730;
    margin: auto !important;
}

.feature-image {
    text-align: center;
    color: #443730;
}

.feature-title {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: #443730;
    padding-top: 10px;
    text-align: center;
}

.feature-text {
    text-align: center;
    font-size: 17px;
}

/* Recipe cards */

.recipe-card:hover, .mealplan-card:hover {
    box-shadow: 0px 0px 4px #443730 !important;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
    min-height: 250px;
}

.card-detail {
    border: none;
    color: #443730
}

.recipe-detail-title {
    font-size: 20px;
}



/* Footer */


.social-networks {
    text-align: center;
    padding: 0;
    margin: 30px 0;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    padding: 0 30px;
    color: #4b5054;
}

.social-networks i:hover {
    color: #142a2b;
}


