{% extends "base.html" %}
{% block title %}The CLean Eater | Home{% endblock %}
{% block content %}

<section>
    <div class="container px-2 py-3">
        <div class="row flex-md-row-reverse py-3 m-0">
            <div class="col-md-7 col-lg-5 p-0 pl-md-5 align-self-center">
                <img src="https://res.cloudinary.com/dqvmztixn/image/upload/v1661684122/images/family_cooking_hz0kpp.jpg"
                    class="img-fluid family-image" alt="family_cooking">
            </div>
            <div class="col-md-5 col-lg-7 hero-text-outer text-center">
                <h1 class="mt-4 mb-2 hero-text">Welcome back CLean Eater</h1>
                <div class="lead mt-4">
                    Add a new recipes
                    <a class="btn btn-outline-dark round-pill btn-lg ml-2 my-lg-0"
                        href="{% url 'add_recipe' %}">Create</a>
                </div>
            </div>
            <div class="col-md-5 col-lg-7 hero-text-outer text-center">
                <h1 class="mt-4 mb-2 hero-text">Feel the pressure to feed your family healthy meals everyday?</h1>
                <div class="lead mt-4">
                    We are here to make your life easy
                    <a class="btn btn-outline-dark round-pill btn-lg ml-2 my-lg-0"
                        href="{% url 'sccount_signup' %}">Sign Up!</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="continer px-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="my-3 brown-text text-center">What can you do</h2>
            </div>
        </div>
        <div class="row mb-sm-5">
            <div class="col-12">
                <p class="mt-3 my-md-3 test-center lead">
                    The CLean Eater is a recipe sharing and meal planning application that encourages healthy home eating and helps you plan your meals with ease
                </p>
            </div>
        </div>
    </div>
    <div class="container-fluid feature-image-outer">
        <div class="row">
            <div class="col-12 col-md-4 mb-2">
                <div class="feature-image mb-2">
                    <i class="fa-solid fa-globe-stand fa-6x"></i>
                </div>
                <div>
                    <h3 class="feature-title">Browse</h3>
                    <p class="feature-text">
                        Get inspired by the variety of world cooking
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-2">
                <div class="feature-image mb-2">
                    <i class="fa-solid fa-cart-shopping fa-6x"></i>
                </div>
                <div>
                    <h3 class="feature-title">Share or Bookmark</h3>
                    <p class="feature-text">
                        Share or bookmark your favourite recipes
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-2">
                <div class="feature-image mb-2">
                    <i class="fa-solid fa-calendar-days fa-6x"></i>
                </div>
                <h3 class="feature-title">Plan</h3>
                <p class="feature-text">
                    Plan your meals ahead of the week and save them in the planner
                </p>
            </div>
        </div>
    </div>
</section>

{%endblock%}